input {
  padding: 12px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 400px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
span.material-symbols-outlined {
  display: flex;
  justify-content: centerš;
  align-content: space-between;
}
